// everything that is reusable – buttons, navbars, cards, and so on
@import "base";

// headings
h2 {
    font-size: 23px;
    margin-top: 38px;
}
h3 {
    font-weight: normal;
}


// buttons
@mixin btn-style { 
    height: 50px;
    border-radius:30px;
    border: none;
    color: #fff;
    font-size: 1.02em;
    background: $btn-gradient;
    
    @include shadow;
    
    &:hover {
        // background: lighten($color-primary, 10%);
        background: linear-gradient(174deg, lighten($color-secondary, 5%) 0%, lighten($color-primary, 5%) 85%, lighten($color-primary, 5%) 100%);
    }
}


.btn {
    @include btn-style;
}

.btn-explore {
    width: 225px;
}

// .btn-order {}

// icons
i {
    font-size: 18px;
    // width: 7px;
}

// .heart {

// }


// shape 
// gradient
// shadow
// active state (in hover?)
// color of font 

// }

// and in layout, padding?