// all the Sass code handling the layout, which is the container & grid systems, header, footer,etc

@import 'components';

//spinner
@keyframes disappear{
    0%{
      opacity: 1;
    }
    100%{
      display: none;
      opacity: 0;
    }
  }
 @keyframes spin {
    to { transform: rotate(1turn); }
}
.spinner-container {
height:100vh;
width:100%;
display:flex;
justify-content: center;
align-items: center;
background:linear-gradient(312deg, lighten($color-tertiary , 1) 0%, lighten($color-secondary, 5) 100%);
z-index:100;
position: absolute;

animation-name: disappear;
animation-duration: 1800ms;
animation-fill-mode: forwards;
animation-delay:2000ms;

    .loading {
        display: inline-flex;
        align-items: center;        
    }
}
  
.loading__spinner {    
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-indent: 999em;
    overflow: hidden;
    width: 60px;
    height: 60px;
    animation: spin 1s infinite steps(12);
    
    &:before,
    &:after,
    > span:before,
    > span:after,
    > span > span:before,
    > span > span:after {
        content: '';
        position: absolute;
        top: 0;
        left: 27px; /* (container width - part width)/2  */
        width: 6px;
        height: 15px;
        border-radius: 3px;
        background: rgba($color-primary, 0.16);
        box-shadow: 0 (60px - 15px) rgba(#9356DC, 0.16); /* container height - part height */
        transform-origin: 50% 30px; /* container height / 2 */
    }
}
  .loading__spinner:before {
      background: $color-primary;
  }
  .loading__spinner:after {
      transform: rotate(-30deg);
      background-color: transparentize($color-primary, 0.24);
  }
  .loading__spinner > span:before {
      transform: rotate(-60deg);
      background-color: transparentize($color-primary, 0.36);
  }
  .loading__spinner > span > span:before {
      transform: rotate(-90deg);
      background-color: transparentize($color-primary, 0.48);
  }
  .loading__spinner > span:after {
      transform: rotate(-120deg);
      background-color: transparentize($color-primary, 0.60);
  }
  .loading__spinner > span > span:after {
      transform: rotate(-150deg);
      background-color: transparentize($color-primary, 0.72);
  }
  



// headers
.header__main {
    @include header-style;
    @include shadow;
    justify-content: center;
    position: relative; //so that boxshadow appears
}

.header__restaurant {
    width: 100%;
    @include header-style;
    @include shadow;

    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
        align-self: flex-start;
        padding-left: 20px;
        height:100%;
        // width: 50px; does not work

        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 22px;
        }
    }
    h1 {
        width: 100%;
        text-align: center;
        margin-left: -20px; // compensate for padding of backlink
    }
}

// search bar
.searcharea {
    width: 100%;
    height: 50px;
    background-color: $color-background-searchbar;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input[type=text] {
        // text-align: center;
        // width: 90px;
        border: none;
        background-color: $color-background-searchbar;
        font-size: 16px;
        // &:active {
        //     background-color: seagreen;
        //     border: none;
        // }
        // &:focus {
        //     background-color: violet;
        //     border: none;
        // }
        // &:active, &:focus {
        //     background-color: aquamarine;
        // }
    }
}

// blurb
.blurb {
    width: 100%;
    text-align: center;
    height: 250px;
    // padding:0 6% 20px 6%;
    padding: 0 6%;
    // padding: 15%;
    h2 {
        padding: 0 10%;
    }
    p {
    font-size: 18px;
    }
    & .btn-explore {
        // does not work 
        margin-bottom: 20px;
    }
}

// How To
.howto {
    background: $color-background-elements;
    padding: 10px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    h2 {
        padding-left: 20px;
        align-self: flex-start;
        margin-bottom: 0; // to compensate for row-gap
    }
    .howto__card {
        width: 85%;
        height: 75px;
        border-radius: 20px;
        background-color: $color-background-body;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        @include shadow;

        &:hover .fa-solid {
            color: $color-primary;
        }
        
        & > * {
            position: relative;
            left: -12px;
        }

    }

    .lilbtn {
        background-color: $color-primary;
        width: 25px;
        height: 25px;

        border-radius: 100%;

        font-size: 14px;
        color: $color-text-invert;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fa-solid {
        color: $color-icons-inactive;
        margin: 20px;

    }

}



// Home - Restaurant blocks
.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    h2 {
        padding: 14px 0 0 20px;
        align-self: flex-start;
        margin-bottom: 0; // to compensate for row-gap
    }

    .restaucard {
        width:89%;
        background-color: $color-background-elements;
        border-radius: 16px;

        .restaurant__pic-container {
            position: relative;
            text-align: center;

            height: 175px;

            .tag-new {
                background-color: $color-btn-new; 
                height: 28px;
                width: 80px;
                // font-weight: bold; ??????
                font-size: 14px;
                color: $color-btn-text; 
                border-radius: 3px;
                border: 1px outset;

                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: 12px;
                right: 12px;

                // @include shadow;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 16px 16px 0 0;
                object-fit: cover;
            }    
        }

        .restaurant-cardbody  {
            // rule 
            padding: 0 15px;

            h1 {
                font-size: 18px;
                margin-bottom: -15px;
            }

            p {
                font-size: 17px;
            }
        }  
    }
}

// Menu Page - Menu
@keyframes tadaaa {
    from {opacity:0}
    to {opacity:1}
  }

.menu-page {
    position: relative;
    width: 100%;

    .menu-page__pic-container {
        width: 100%;
        height: 260px;

        position: absolute;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            z-index: -1;
        }
    }

    .menu {
        background-color: $color-background-body;
        border-radius: 40px;
        padding: 15px;
        width: 100%;

        position: absolute;
        top: 225px;
        z-index: 100;

        .menu__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-family: $font-title;
                font-weight: normal;
            object-fit: cover;
            font-size: 28px;
            }
            .heart {
                i {
                    font-size: 25px;
                    border: 1px solid #000;
                    color: $color-tertiary;
                }

            }
        }

        .menu-cat {
            
            .menu-cat__header {
                h2 {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: normal;
                margin: 2px 0;
                }
                .menu-cat__line {
                    width: 40px;
                    height: 3px;
                    margin: 0;
                    background-color: $color-menu-deco-bar;
                }
            }


        .menu__menu-items-container {
     //      & ~ {    // select children properly
                // opacity: 0;
     //       }
            :nth-child(1) {
                animation: tadaaa 2s ease-in-out forwards;
                animation-delay:100ms;
            }
            :nth-child(2) {
                animation: tadaaa 2s ease-in-out forwards;
                animation-delay:500ms;
            }
            :nth-child(3) {
                animation: tadaaa 2s ease-in-out forwards;
                animation-delay:700ms;
            }
    


                .menu__card {
                    border-radius: 20px;
                    padding: 15px 12px;
                    margin: 15px 0;
                    background-color: $color-background-elements;
                    @include shadow;
    
    
                    line-height: 1em;
                    height: 70px;
                    width: 100%;
    
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
    
                    opacity: 0; // to make appear one by one



                    position: relative;
                    overflow: hidden;
                    
                    transition: all 0.2s ease-in 0s;
                    
                    &:before {
                        content: "\f058"; 
                        font-family: FontAwesome;
                        font-size: 20px;
                        color:$color-background-elements;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        right: -50px;
                        width: 50px;
                        height: 100%;
                        background-color: rgba($color-menu-item-overlay-color,0.9);
                    //   border-radius: 0px $border-radius $border-radius 0px;
                        transition: all 0.2s linear 0s;
                        text-align: center;
                    }
                    
                    &:hover {
                        text-indent: -30px;
                        
                        &:before {
                        right: 0;
                        text-indent: 0px;
                        }
                    }

                    .menu__card__txt {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        
                        
                        border: 2px dotted sandybrown;
    
                        h3 {
                            font-size: 17px;
                            margin: 6px 0;
                            // font-weight:600;  does not work
                        }
                        p {
                            font-size: 15px;
                            margin: 0 0 3px 0;

                            width: 98%;
                            border: 2px dotted darkred;

                            overflow-y: clip;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            // wrap: nowrap;
                            // text-overflow: ellipsis;
                            // overflow-wrap: ellipsis;
                            // text-overflow: ellipsis;
                        }
                    }
                    .price {
                        font-weight: bold;
                        color: $color-background-footer;
                        width: 15%;
                        height: 100%;

                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;

                        border: 2px dotted sandybrown;
                    }
                }
            }

        }
    }



        
}

    








// footer
footer {
    padding: 20px;
    background-color: $color-background-footer;
    color: $color-background-body;
    margin-top: 20px;

    h3 {
        font-family: $font-title;
        font-size: 18px;
    }
    p {
        line-height: 0.9em;
        i {
            font-size: 14px;
            margin-right: 7px;
        }
        a {
            color: $color-background-body;
        }
    }





}





// background color 
// font color  $color-text-invert:
// font of h3 
// icons